cvzone
ultralytics
hydra-core
matplotlib
numpy
opencv-python
Pillow
PyYAML
requests
scipy
torch
torchvision
tqdm
filterpy
scikit-image
WTForms
Flask-WTF
fastapi==0.112.2
uvicorn==0.30.6
firebase-admin==6.5.0
bcrypt==3.2.0
uvicorn[standard]
face_recognition
numpy
opencv-python
fpdf

